1. Show the description of all the features in this dataset

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston

boston_dataset = load_boston()
df = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

2. count the number of missing values for each feature

In [ ]:
df.isna().value_counts()

3. Splitting the data into 80% training and 20% testing sets

In [34]:
features = df.columns[0:11]
target = df.columns[-1]
x = df[features]#.values
y = df[target]#.values
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=104)

print(x_train.head())
print(x_test.head())
print(y_train.head())
print(y_test.head())

        CRIM    ZN  INDUS  CHAS    NOX     RM    AGE      DIS   RAD    TAX  \
23   0.98843   0.0   8.14   0.0  0.538  5.813  100.0   4.0952   4.0  307.0
432  6.44405   0.0  18.10   0.0  0.584  6.425   74.8   2.2004  24.0  666.0
391  5.29305   0.0  18.10   0.0  0.700  6.051   82.5   2.1678  24.0  666.0
355  0.10659  80.0   1.91   0.0  0.413  5.936   19.5  10.5857   4.0  334.0
463  5.82115   0.0  18.10   0.0  0.713  6.513   89.9   2.8016  24.0  666.0

     PTRATIO
23      21.0
432     20.2
391     20.2
355     22.0
463     20.2
        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
152  1.12658   0.0  19.58   1.0  0.871  5.012  88.0  1.6102  5.0  403.0
261  0.53412  20.0   3.97   0.0  0.647  7.520  89.4  2.1398  5.0  264.0
135  0.55778   0.0  21.89   0.0  0.624  6.335  98.2  2.1107  4.0  437.0
41   0.12744   0.0   6.91   0.0  0.448  6.770   2.9  5.7209  3.0  233.0
109  0.26363   0.0   8.56   0.0  0.520  6.229  91.2  2.5451  5.0  384.0

     PTRATIO
152     14.7
261     13.0
135     21.2
41      17.9
109     20.9
23     19.88
432    12.03
391    18.76
355     5.57
463    10.29
Name: LSTAT, dtype: float64
152    12.12
261     7.26
135    16.96
41      4.84
109    15.55
Name: LSTAT, dtype: float64